# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.BrokenGPU.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\oriol\Desktop\brokengpu\BrokenGPU\.idea\.idea.BrokenGPU\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
